<!DOCTYPE html>
<html>
<head>
    <title>PC Blogum | Giriş Yap</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
</head>
<body>
    <div class="giris">
        <h2>GİRİŞ YAP</h2>
        <form>
            <div class="pc"> 
                <input type="text" required=""name="">
                <span>OKUL NUMARANIZ</span>
            </div>
            <div class="pc">
                <input type="password" required=""name="">
                <span>ŞİFRENİZ</span>
            </div>
            <div class="pc">
                <input type="submit" value="Gönder">
            </div>
        </form>
        <a href="#">Şifrenizi Unuttuysanız <span>Buraya Tıklayınız</span></a>

    </div>
</body>
</html>

